
.reisid, a {
    font-size: 60px;
    font-family: 'Helvetica', monospace;
    color: #000;
    text-decoration: none;
    height: 50%;
    width: 50%;
    position: absolute;
    top: 0; left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-size .2s ease;
    transition: transform .2s ease;
}

.reisid {
    font-size: 70px;
    color: #4a4a4a;
    text-shadow: -3px 1px #FF555A,
               -6px 2px #44ccff,
               -9px 3px #9fff55;
    transition: text-shadow 0.3s ease;
}

.reisid:hover {
    text-shadow: -5px 5px #FF555A,
                -10px 10px #44ccff,
                -15px 15px #9fff55;
}


a.sygis {
    background: #FFE0E1;
    top: 0; left: 50%;
}

a.talv {
    background: #E0EFFF;
    top: 50%; left: 0;
}

a.kevad {
    background: #E0FFEE;
    top: 50%; left: 50%;
}


a:hover {
    font-size: 70px;
    transform: scale(1.1);
    z-index: 1;
}

a.sygis:hover {
    background: #FF555A;
}

a.talv:hover {
    background: #44ccff;
}

a.kevad:hover {
    background: #9fff55;
}
