body, html {
    margin:0;
    padding: 0;
    background-color: #D5FFFF;
}



.talv_pealkiri {
    background-image: url('/assets/images/talv/winter-4680354_1920.jpg');
    margin: 0;
    width: 100%;
    height: 400px;
    background-size: auto;
    background-position: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pealkiri {
    position: relative;
    left: -30%; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
}

.värviline_kast {
    width: 100%;
    height: 100px;
    background-color: lightblue;
  }

@media (min-width: 1000px) {
  .kast {
    display: grid;
    grid-auto-flow: column; /* Ensures items are placed in a single row */
    justify-content: center; /* Centers items horizontally */
    align-items: center; /* Centers items vertically */
  }
}

.reis_jutt {
    margin:auto;
    background-color: gray;
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 566px;
    padding: 10px;

}

.reis_pealkiri {
    font-size: 2em;
    font-weight: bold;
}

.reisi_tekst {
    height: 524px;
    font-size:large;
    background-color: white;
}

.galerii {
    display:inline-block;
    width: 500px;
    height: 566px;
    padding: 10px;
    background-color: gray;
}

.galerii_pilt {
    width:248px;
}

.empty {
    width: 100%;
    height: 30px;
    background-color: #D5FFFF;
}

footer {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.lõpp {
    width: 100%;
    height: 80px;
    background-color: #D5FFFF;
}